/* *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  
    
    text-decoration: none;
} */

/* body{
    min-height: 100vh;
    background-color: yellow;
} */

.rd-navbar-main-outer{
   
}

 header-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:white;
    /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
    /* padding: 0px 7%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
} 
/* 
header .logo{
    font-weight: bolder;
    font-size: 22px;
    color: #333;

} */

.navbar-1{
    /* margin: auto auto; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px 0px;
    height: 50px;
    width: 100%;
}
 .navbar-1 ul{
   /* padding: 10px 20px ; */
    list-style: none;
}
 .navbar-1 ul li {
    
    padding:10px 20px ;
    position: relative;
    z-index: 10000;
    float: left;
}
.navbar-1 ul li a{
  padding: 1px;
   
 color:lightsteelblue;

 display: block;
}
.navbar-1 ul li ul li{

    background-color: #333;
}
 /* .navbar-1 ul li  a:hover{
    background-color: black;
    
    color: #fff;
}
 .navbar-1 ul li ul li a:hover{
    background-color:;
    
    color: black;
} */

 .navbar-1 ul li ul{
    position: absolute;
    top: 43.7px;
    left: 0;
    width: 200px;
    transition: 0.1s ease-in-out;
    
    font-size: 15px;
    background-color: #333;
    /* border: 1px solid green; */
    display: none;
}


.navbar-1 ul li ul li{
    width: 100%;
    /* border-top:1px solid rgba(0,0,0,.1); */

}
.navbar-1 ul li ul li ul {
    left:200px ;
    width: 250px;
    top:0;

}
.navbar-1 ul li:focus-within > ul:hover,
.navbar-1 ul li:hover > ul{
    display: inline-block;
}


/* .navbar-1 ul li ul li ul:hover > li:hover {

    background: green;
    /* border: 2px solid yellow; */
    /* width: 100%; 
    font-size: 15px;
  

}

.navbar-1 ul li ul:hover > li:hover {
    background: green;
    /* border: 4px solid green; */
    /* width: 100%; 
    font-size: 15px;
  

}
 */


/* #menu-bar{
    display: none;

}
header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
} */





 @media(max-width:1980px){
    .logoname-1 img{
        height:4vw;
    }
}
 @media(max-width:1130px){
     
    .navbar-1{
        font-size: 13px;
    }
 }
 @media(max-width:1003px){
    .navbar-1{
        font-size: 12px;
    }
 }
 @media(max-width:992px){
    .logoname{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110vw;
 
     }
     .logoname-1 img{
       padding: 10px 0;
     }
 }
 @media(max-width:992px){

    #rd-navbar-nav-wrap-1{
        height: 156vh;

    }


    .logoname{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 110vw;

    }



    .navbar-1 {
        display: block;
        position: absolute;
        top: 100%;
        left: 0; right: 0;
        background: #fff;

        /* border-top: 1px solid rgba(0,0,0,.1); */
        z-index: 100000;
        /* display: none; */
        text-align: left;
        
    }

    .navbar-1 ul li{
    
      
        width: 100%;
    }
    .navbar-1 ul li a:hover{
        /* background-color:none; */
       
        color:#333;
        
    }
    .navbar-1 ul li ul {
        position :relative;
        top: 0px;
        
        
        width: 100%;
    }
   
    .navbar-1 ul li ul li{
        background: #eee;
        color: #333;
    }
    .navbar-1 ul li ul li{
        background-color: white;
    }
    
    .navbar-1 ul li ul li ul{
        width:100%;
        left:0;

    }
    .navbar-1 ul li ul li a{
        width: 100%;
    }

    .navbar-1 ul li:focus-within > ul:hover,
    .navbar-1 ul li ul li ul:hover > li:hover {
        background:white;
      
        
    }
    
/* 
    
    .navbar-1 ul li:focus-within > ul:hover,.navbar-1 ul li ul li a:hover{
        background-color: green;
        
    }
    */ 
    /* .navbar-1 ul li ul li ul li a:hover{
        background-color: green;
        
    }
     */
}

.navbar-1 ul li:focus-within > ul:hover,
.navbar-1 ul li ul:hover > li:hover {
    background:white;

}
/*
    #menu-bar:checked ~ .navbar-1{
        display: inline;
        

        

    }
    #menu-bar:checked ~ .menu-logo img{
        opacity: 0;
    }
   
   
    #menu-bar:checked ~ .menu-logo{
    
        
        background: url("menu-close.svg");
        
       
        

    }
        
} */


@media(max-width:493px){
    .logoname{
        width: 260px;
    }

}
@media(max-width:425px){
    .logoname{
        width: 250px;
    }
}
@media(max-width:395px){
    .logoname{
        width: 200px;
    }
}
@media(max-width:371px){
    .logoname{
        width: 170px;
    }
}
@media(max-width:320px){
    .logoname{
        width: 150px;
    }

}
@media(max-width:281px){
    .logoname{
        width: 135px;
    }

}


